<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Task:</h2>
  <form (submit)="addTask()">
    <h2>Title</h2><input type="text" name="newTask.title" [(ngModel)]="newTask.title">
    <h2>Description</h2><input type="text" name="newTask.description" [(ngModel)]="newTask.description">
    <h2>Completed</h2><input type="text" name="newTask.completed" [(ngModel)]="newTask.completed">
    <input type="submit" value="Create Task"/>
  </form>
  <div *ngIf="editing">
    <h3>Edit</h3>
    <form (submit)="submitEdit()">
        <p> {{ editing | json }} </p>
        <h2>Title</h2><input type="text" name="editing.title" [(ngModel)]="editing.title" />
        <h2>Description</h2><input type="text" name="editing.description" [(ngModel)]="editing.description" />
        <h2>Completed</h2><input type="text" name="editing.completed" [(ngModel)]="editing.completed" />
        <input type="submit" value="Edit Task" />
    </form>
  </div>
  
  <div *ngIf="tasks">
    <div *ngFor="let task of tasks">
      <p>Title: {{task.title}}</p>
      <div *ngIf="clicked">
          <p>{{clicked.description}}</p>
          <p>{{clicked.completed}}</p>
          <button (click)="editTask(task)">Edit Task</button>
          <button (click)="deleteTask(task)">Delete</button>
      </div>
       
      <button (click)="showTask(task)">Task</button>
    </div>
  </div>
</div>