<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit a Goose <%=goose.name%></h1>
    <form action="/mongooses/<%=goose.id%>" method="post">
        <h4>Name: <input type="text" name="name" value="<%=goose.name%>"></h4>
        <h4>Age: <input type="number" name="age" value="<%=goose.age%>"></h4>
        <input type="submit" value="Edit Mongoose">
    </form>
</body>
</html>