<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello Mongooses</h1>
    <h2>All Mongooses</h2>
    <% for(var i of allMongooses) { %>
        <p><a href="/mongooses/<%=i.id%>"> <%= i.name %></p></a>
        <form action="/mongooses/destroy/<%=i.id%>" method="post">
            <input type="submit" value="Delete">
        </form>
        <a href="/mongooses/edit/<%=i.id%>"> <button>Edit</button></a>
   <% } %>
</body>
</html>