<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Add a Goose</h2>
    <form action="/mongooses" method="post">
        <h4>Name: <input type="text" name="name"></h4>
        <h4>Age: <input type="number" name="age"></h4>
        <input type="submit">
    </form>
</body>
</html>